@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  width: 100%;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  place-items: center;
  color: black;
}

/* Bottom Drawer */
.drawer {
  width: 100%;
  height: 50%;
  background-color: #ffffff;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.25);
  
}

.drawer__handle-wrapper {
  display: none !important;
}

.drawer__content {
  padding-left: 0px;
  max-height: 60vh; /* Adjust as needed */
}

.drawer__content-container {
  position: relative;
}

.drawer_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
}
